body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#chasis {
    background-color: #0033A0;  /* Superman Blue */
    background-color: #C21031;  /* Superman Red */
    background-color: #FFD700;  /* Superman Yellow */
}